.titleDesc{
    color: white;
    margin-bottom: 20px;
    font-weight: 500;
}

.text{
    color: white;
    max-width: 60vw;
    line-height: 20px;

    .color{
        color: rgb(66, 66, 167);
    }
}